# ignore data, logs, misc directories
data/
logs/
misc/

# ignore txt files in the repo root (input/output files)
*.txt

# ignore log files in the repo root (input/output files)
*.log

# ignore executable files
pageloop
pageloop_back
pageloop_back_map
